In [1]:
import pandas as pd

In [2]:
from tiingo import TiingoClient

In [3]:
client = TiingoClient(dict([('session', True), ('api_key', '8030e3d38e86f3d454e32f22ab068667baf38d0a')]))

In [5]:
df1 = client.get_dataframe('VGSLX', startDate='2020-01-05', endDate='2020-01-10', frequency='daily')

In [6]:
df2 = client.get_dataframe('VGSLX', startDate='2020-01-11', endDate='2020-01-14', frequency='daily')

In [101]:
dfconcat = pd.concat([df1, df2])

In [103]:
df1.append(df2)

,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
date,,,,,,,,,,,,
2020-01-06 00:00:00+00:00,130.90,130.90,130.90,130.90,0,130.90,130.90,130.90,130.90,0,0.0,1.0
2020-01-07 00:00:00+00:00,129.37,129.37,129.37,129.37,0,129.37,129.37,129.37,129.37,0,0.0,1.0
2020-01-08 00:00:00+00:00,129.85,129.85,129.85,129.85,0,129.85,129.85,129.85,129.85,0,0.0,1.0
2020-01-09 00:00:00+00:00,129.83,129.83,129.83,129.83,0,129.83,129.83,129.83,129.83,0,0.0,1.0
2020-01-10 00:00:00+00:00,130.85,130.85,130.85,130.85,0,130.85,130.85,130.85,130.85,0,0.0,1.0
2020-01-10 00:00:00+00:00,130.85,130.85,130.85,130.85,0,130.85,130.85,130.85,130.85,0,0.0,1.0
2020-01-13 00:00:00+00:00,132.36,132.36,132.36,132.36,0,132.36,132.36,132.36,132.36,0,0.0,1.0
2020-01-14 00:00:00+00:00,131.86,131.86,131.86,131.86,0,131.86,131.86,131.86,131.86,0,0.0,1.0

In [32]:
'2020-01-06 00:00:00+00:00' in df.index

True

In [73]:
df.at['2020-01-06 00:00:00+00:00', field] = 160

In [50]:
df.at['2020-01-06 00:00:00+00:00', 'newcol'] = 150

In [74]:
df

,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor,newcol
date,,,,,,,,,,,,,
2020-01-06 00:00:00+00:00,160.00,130.90,130.90,130.90,0,130.90,130.90,130.90,130.90,0,0.0,1.0,150.0
2020-01-07 00:00:00+00:00,129.37,129.37,129.37,129.37,0,129.37,129.37,129.37,129.37,0,0.0,1.0,NaN
2020-01-08 00:00:00+00:00,129.85,129.85,129.85,129.85,0,129.85,129.85,129.85,129.85,0,0.0,1.0,NaN
2020-01-09 00:00:00+00:00,129.83,129.83,129.83,129.83,0,129.83,129.83,129.83,129.83,0,0.0,1.0,NaN
2020-01-10 00:00:00+00:00,130.85,130.85,130.85,130.85,0,130.85,130.85,130.85,130.85,0,0.0,1.0,NaN
2020-01-13 00:00:00+00:00,132.36,132.36,132.36,132.36,0,132.36,132.36,132.36,132.36,0,0.0,1.0,NaN
2020-01-14 00:00:00+00:00,131.86,131.86,131.86,131.86,0,131.86,131.86,131.86,131.86,0,0.0,1.0,NaN

In [69]:
ndf = pd.DataFrame({'date': ['2020-01-15 00:00:00+00:00'], 'close': [160]}).set_index('date')

In [59]:
ndf

                           close
date
2020-01-15 00:00:00+00:00    160

In [65]:
df.append(ndf, sort='False')

,adjClose,adjHigh,adjLow,adjOpen,adjVolume,close,divCash,high,low,newcol,open,splitFactor,volume
date,,,,,,,,,,,,,
2020-01-06 00:00:00+00:00,130.90,130.90,130.90,130.90,0.0,150.00,0.0,130.90,130.90,150.0,130.90,1.0,0.0
2020-01-07 00:00:00+00:00,129.37,129.37,129.37,129.37,0.0,129.37,0.0,129.37,129.37,NaN,129.37,1.0,0.0
2020-01-08 00:00:00+00:00,129.85,129.85,129.85,129.85,0.0,129.85,0.0,129.85,129.85,NaN,129.85,1.0,0.0
2020-01-09 00:00:00+00:00,129.83,129.83,129.83,129.83,0.0,129.83,0.0,129.83,129.83,NaN,129.83,1.0,0.0
2020-01-10 00:00:00+00:00,130.85,130.85,130.85,130.85,0.0,130.85,0.0,130.85,130.85,NaN,130.85,1.0,0.0
2020-01-13 00:00:00+00:00,132.36,132.36,132.36,132.36,0.0,132.36,0.0,132.36,132.36,NaN,132.36,1.0,0.0
2020-01-14 00:00:00+00:00,131.86,131.86,131.86,131.86,0.0,131.86,0.0,131.86,131.86,NaN,131.86,1.0,0.0
2020-01-15 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,160.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
pd.DataFrame().append(ndf, sort='False')

                           close
date
2020-01-15 00:00:00+00:00    160

In [71]:
field = 'close'

In [72]:
field

'close'

In [75]:
df

,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor,newcol
date,,,,,,,,,,,,,
2020-01-06 00:00:00+00:00,160.00,130.90,130.90,130.90,0,130.90,130.90,130.90,130.90,0,0.0,1.0,150.0
2020-01-07 00:00:00+00:00,129.37,129.37,129.37,129.37,0,129.37,129.37,129.37,129.37,0,0.0,1.0,NaN
2020-01-08 00:00:00+00:00,129.85,129.85,129.85,129.85,0,129.85,129.85,129.85,129.85,0,0.0,1.0,NaN
2020-01-09 00:00:00+00:00,129.83,129.83,129.83,129.83,0,129.83,129.83,129.83,129.83,0,0.0,1.0,NaN
2020-01-10 00:00:00+00:00,130.85,130.85,130.85,130.85,0,130.85,130.85,130.85,130.85,0,0.0,1.0,NaN
2020-01-13 00:00:00+00:00,132.36,132.36,132.36,132.36,0,132.36,132.36,132.36,132.36,0,0.0,1.0,NaN
2020-01-14 00:00:00+00:00,131.86,131.86,131.86,131.86,0,131.86,131.86,131.86,131.86,0,0.0,1.0,NaN

In [79]:
print(datetime.datetime.strptime('2020-01-20', '%Y-%m-%d').date())

2020-01-20

In [87]:
pd.to_datetime('2020-01-13', utc=True) in df.index

True

In [89]:
datetime.datetime.strptime('2020-01-20', '%Y-%m-%d').date() in df.index

False

In [94]:
pd.to_datetime('2020-01-13', utc=True), pd.to_datetime('2020-01-13')

(Timestamp('2020-01-13 00:00:00+0000', tz='UTC'),
 Timestamp('2020-01-13 00:00:00'))

In [99]:
'2020-01-13' <= '2019-01-12'

False